@page
@using Microsoft.AspNetCore.Mvc.ModelBinding
@model RegisterModel
@{
    ViewData["Title"] = "Login";
}

@section Css {
    <style>
        body {
            height: 100vh;
        }
        a {
            text-decoration: none;
            color: unset;
        }
        a:hover {
            color: #00A8FF;
        }

        .register-link {
            color: rgb(99, 102, 241)
        }

        form {
            max-width: 400px;
        }

        .login-container {
            align-self: center;
            text-align: -webkit-center;
        }

        .alert {
            text-align: left;
        }
    </style>
}

<div style="height: 100%;">
    <div class="row rounded overflow-hidden" style="background-color: #F3F6FD; height: 100%;">
        <div class="col-6 login-container" >
            <div class="row mb-1">
                <h2 style="font-weight: 600;">Register</h2>
            </div>
            <div class="row mb-2">
                <p>Already have an account?  <a href="login" class="register-link">Log in</a> </p>
            </div>
            <form class="row" method="post">
                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="fal fa-user" style="width: 20px;"></i></span>
                     <input asp-for="AccountInput.DisplayName" class="form-control" placeholder="Display name" required>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="fal fa-at" style="width: 20px;"></i></span>
                    <input asp-for="AccountInput.Email" class="form-control" placeholder="Email" required>
                </div>
                <div class="input-group mb-4">
                    <span class="input-group-text"><i class="fal fa-unlock-alt" style="width: 20px;"></i></span>
                     <input asp-for="Password" type="password" class="form-control" placeholder="Password" required>
                </div>
                
                @if (!ModelState.IsValid) {
                    var allErrors = ModelState.Values.SelectMany(v => v.Errors).ToList();
                    Log.Debug("Register input errors: {@Errors}", allErrors);
                    <div class="input-group">
                        <div asp-validation-summary="All" class="form-control alert alert-danger"></div>
                    </div>
                }

                <div class="d-flex justify-content-end mb-5">
                  <a href="login"><i class="fal fa-arrow-down"></i> Sign in</a>
                </div>
                <div class="d-flex mb-5">
                  <button class="flex-grow-1 btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
        </div>
        <div class="col-6 p-0 position-relative" style="background: radial-gradient(50% 50% at 50% 50%, rgb(18, 38, 71) 0%, rgb(9, 14, 35) 100%);">
            <div class="position-absolute d-flex justify-content-center align-items-center" style="inset: 0; padding: 20px">
                <div class="text-center" style="color: white">
                    <h1 style="font-weight: bold;">Finance</h1>
                    <h5>One of the world best app for tracking income and outcome changes! </h5>
                </div>
            </div>
        </div>
    </div>
</div>
