@page
@using Microsoft.AspNetCore.Mvc.ModelBinding
@model RegisterModel
@{
    ViewData["Title"] = "Login";
}

@section Css {
    <style>
        body {
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #D3E3F2;
        }
        a {
            text-decoration: none;
            color: unset;
        }
        a:hover {
            color: #00A8FF;
        }
    </style>
}

<div class="container">
    <div class="row rounded overflow-hidden" style="background-color: #F3F6FD;">
        <div class="col-6 p-0 position-relative">
            <img src="~/asset/img/login-bg5.jpg" class="img-fluid h-100"  style="object-fit: cover;filter: blur(1px);">
            <div class="position-absolute d-flex justify-content-center align-items-center" style="inset: 0; padding: 20px">
                <div class="text-center" style="color: white">
                    <h1 style="font-weight: bold;">Finance</h1>
                    <h5>The world-class app for expense tracking. Register now and start your journey</h5>
                </div>
            </div>
        </div>
        <div class="col-6" style="padding: 40px 100px">
            <div class="row mb-5  text-center">
                <h2>Create account</h2>
            </div>
                <div class="text-muted mb-5 text-center">
                    <figure>
                        <blockquote class="blockquote">
                            <p>@Model.Quote.Message</p>
                        </blockquote>
                        <figcaption class="blockquote-footer text-end">
                            <cite title="Source Title">@Model.Quote.Author</cite>
                        </figcaption>
                    </figure>
                </div>
            <form class="row" method="post">
                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="fal fa-user" style="width: 20px;"></i></span>
                     <input asp-for="AccountInput.DisplayName" class="form-control" placeholder="Display name" required>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="fal fa-at" style="width: 20px;"></i></span>
                    <input asp-for="AccountInput.Email" class="form-control" placeholder="Email" required>
                </div>
                <div class="input-group mb-4">
                    <span class="input-group-text"><i class="fal fa-unlock-alt" style="width: 20px;"></i></span>
                     <input asp-for="Password" type="password" class="form-control" placeholder="Password" required>
                </div>
                
                @if (!ModelState.IsValid) {
                    var allErrors = ModelState.Values.SelectMany(v => v.Errors).ToList();
                    Log.Debug("Register input errors: {@Errors}", allErrors);
                    <div class="input-group">
                        <div asp-validation-summary="All" class="form-control alert alert-danger"></div>
                    </div>
                }

                <div class="d-flex justify-content-end mb-5">
                  <a href="login"><i class="fal fa-arrow-down"></i> Sign in</a>
                </div>
                <div class="d-flex mb-5">
                  <button class="flex-grow-1 btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
