@page
@model Finance.Pages.Admin.UserModel
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "User";
}

<div class="table-overview">
    <div class="table-overview-header">
        <div class="table-title">
            User management
        </div>
        <div class="header-icon-bar">
            <div class="table-icon">
                <i class="fal fa-sort-amount-up"></i>
                <span>Sort</span>
            </div>
            <div class="table-icon">
                <i class="fal fa-filter"></i>
                <span>Filter</span>
            </div>
        </div>
    </div>
    <div class="overview-table-body">
        <table class="overview-table">
            <thead>
                <tr>
                    <td style="width: 480px">Name</td>
                    <td>Email</td>
                    <td>Last Active</td>
                    <td>Status</td>
                    <td style="width: 0px"></td>
                </tr>
            </thead>
            <tbody id="tbl-body">
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
<script>
    async function loadUsers() {
        const resp = await fetch("/_component/admin/userData", {
            method: "post"
        });
        $("#tbl-body").html(await resp.text());
    }

    loadUsers();

    const conn = connectWS(conn => {
        conn.invoke("Join", "listenNewUser");
    });

    conn.on("NewAccount", name => {
        toast_success("A new user has appeared", `User "${name}" has registered to our server`);
        loadUsers();
    });
</script>
}