@page
@{

}

@section Css {
    <style>


        .text-page {
            margin-left: 1rem;
            padding-top: 0;
            font-family: "Poppins";
            text-align: center;
        }

        .img-page {
            height: auto;
            padding-left: 7rem;
            text-align: center;
        }

        .text-title {
            font-size: 7rem;
            margin-bottom: .4rem;
            font-weight: 600;
        }

        .text-error {
            font-size: 3rem;
            font-weight: 600;
        }

        .text-desc {
            font-size: 1rem;
            color: #999;
        }


        .button {
            display: inline-block;
            padding: 1rem 2.5rem;
            background-color: #00A8FF;
            text-decoration: none;
            border-radius: 10rem;
        }

        .button-text {
            color: white;
            font-size: 1rem;
        }

        .content-container {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
    </style>
}

    <div class="d-flex justify-content-start content-container wrapper">
        <div class="d-flex align-items-start img-page">

            <img src="~/asset/img/errorNotfound.png" alt="Sample Image" />

        </div>

        <div class="text-page">
            <p class="text-error">404: The page you are looking for isn’t here
</p>

            <p class="text-desc"> This page  doesn’t exist or was removed! </p>
            <p class="text-desc"> We suggest you back to home</p>

            <a href="/" class="button">
                <span class="button-text">Back To homepage </span>
            </a>


        </div>



    </div>


