@page
@{

}

@section Css {
    <style>


        .text-page {
            margin-left: 1rem;
            padding-top: 20rem;
            width: 40%;
            padding-top: 9rem;
            font-family: "Poppins";
        }

        .img-page {
            width: 60%;
            height: auto;
            padding-top: 5rem;
            padding-left: 7rem;
        }

        .text-title {
            font-size: 7rem;
            margin-bottom: .4rem;
            font-weight: 600;
        }

        .text-error {
            font-size: 3rem;
            font-weight: 600;
        }

        .text-desc {
            font-size: 1rem;
            color: #999;
        }


        .button {
            display: inline-block;
            padding: 1rem 2.5rem;
            background-color: #00A8FF;
            text-decoration: none;
            border-radius: 10rem;
        }

        .button-text {
            color: white;
            font-size: 1rem;
        }
    </style>
}

    <div class="d-flex justify-content-start wrapper">
        <div class="d-flex align-items-start img-page">

            <img src="~/asset/img/notfound.png" alt="Sample Image" />

        </div>

        <div class="text-page">
            <h3 class="text-title">404</h3>

            <p class="text-error">Ooop!</p>

            <p class="text-error">Page Not Found</p>

            <p class="text-desc"> This page  doesn’t exist or was removed! </p>
            <p class="text-desc"> We suggest you back to home</p>

            <a href="http://localhost:5088/" class="button">
                <span class="button-text">Back To Home </span>

            </a>


        </div>



    </div>


