@page
@model Finance.Pages._Component.Home.Wallet.FormModel
@{
}


<div class="p-4 d-flex flex-column  gap-4">
    <div class="row">
        <div class="col-4">
            <span>Date of record</span>
        </div>
        <div class="col-8">
            <input required type="datetime-local" asp-for="f.Date" class="text-muted form-control" value="@Model.LocalDate"/>
        </div>
    </div>
<div class="row">
    <div class="col-4">
        <span>Category</span>
    </div>
    <div class="col-8">
        <select class="form-select" asp-for="f.CateId" required>
            @foreach(var c in Model.ListCate)
            {
            <option value="@c.Id">@c.Name</option>
            }
        </select>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <span>Description</span>
    </div>
    <div class="col-8">
        <textarea required asp-for="f.Desc" class="text-muted form-control" rows=5>kjdfask h asdkaj ksf jksd hkas dfa shsad</textarea>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <span>Amount</span>
    </div>
    <div class="col-8">
        <input  required asp-for="f.Amount" type="text" pattern="^\d*(\.\d{0,2})?$"  class="income-number form-control" value="50000.00"/>
    </div>
</div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Create</button>
</div>