@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
}

@section Css {
    <style>
        body {
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #D3E3F2;
        }
        a {
            text-decoration: none;
            color: unset;
        }
        a:hover {
            color: #00A8FF;
        }
    </style>   
}

<div class="container">
    <div class="row rounded overflow-hidden" style="background-color: #F3F6FD;">
        <div class="col-6 p-0 position-relative">
            <img src="~/asset/img/login-bg1.jpg" class="img-fluid h-100"  style="object-fit: cover; filter: blur(1px);">
            <div class="position-absolute d-flex justify-content-center align-items-center" style="inset: 0; padding: 20px">
                <div class="text-center" style="color: white">
                    <h1 style="font-weight: bold;">FATIMA</h1>
                    <h5>The world-class app for expense tracking. Welcome back, friends</h5>
                </div>
            </div>
        </div>
        <div class="col-6 text-center" style="padding: 40px 100px">
            <div class="row mb-5">
                <h2>Sign in</h2>
            </div>
            <div class="text-muted mb-5">
                <figure>
                  <blockquote class="blockquote">
                    <p>@Model.Quote.Message</p>
                  </blockquote>
                  <figcaption class="blockquote-footer text-end">
                    <cite title="Source Title">@Model.Quote.Author</cite>
                  </figcaption>
                </figure>
            </div>
            <form class="row" method="post">
                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="fal fa-at" style="width: 20px;"></i></span>
                    <input asp-for="Email" class="form-control" placeholder="Email" />
                </div>
                <div class="input-group mb-4">
                    <span class="input-group-text"><i class="fal fa-unlock-alt" style="width: 20px;"></i></span>
                    <input asp-for="Password" type="password" class="form-control" placeholder="Password" />
                </div>

                @if (!ModelState.IsValid)
                {
                    var allErrors = ModelState.Values.SelectMany(v => v.Errors).ToList();
                    Log.Debug("Login input errors: {@Errors}", allErrors);
                    <div class="input-group">
                        <div asp-validation-summary="All" class="form-control alert alert-danger"></div>
                    </div>
                }

                <div class="d-flex justify-content-between mb-5">
                  <div style="color: #00A8FF">
                    <input asp-for="RememberMe" hidden />
                    <i class="fal fa-square" id="remember"></i>
                    Keep me sign in
                  </div>
                  <a href="register"><i class="fal fa-arrow-up"></i> Sign up</a>
                </div>

                <div class="d-flex mb-5">
                  <button class="flex-grow-1 btn btn-primary" type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>

@{
    var registerData = TempData["registerSuccess"] as Dictionary<string, string>;
}

@section Scripts {
    <script>
        const rmbMe = $q("#remember");
        rmbMe.addEventListener("click", () => {
            rmbMe.classList.toggle("fa-square");
            rmbMe.classList.toggle("fa-check-square");
            $q("#RememberMe").click();
        });

        @if (registerData != null)
        {
            <text>
                toast_success("Success", "@registerData["msg"]");

                connectWS(conn => {
                    conn.invoke("RegisteredAccount", "@registerData["email"]");
                });
            </text>
        }
    </script>
}